body {
    font-family: 'Roboto', sans-serif;
}

.container {
    margin: auto;
    width: 1200px;
}

.main>h1 {
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    margin-top: 64px;
}

.vitri1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 138px;
}

.vitri2 {
    box-sizing: border-box;
    width: 208px;
    height: 63px;
    background: #FFFFFF;
    border: 1px solid #D2BDBD;
    border-radius: 10px;
    margin: 73px 73px;
}

.vitri2>button {
    font-weight: 700;
    font-size: 32px;
    color: #000000;
    margin: 5px 50px;
   
}

.vitri3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

}

.vitri4 {
    height: 406px;
    background: #FFFFFF;
    opacity: 0.3;
    border: 2px solid #EFA969;
    margin-left: 34px;
}