body {
    font-family: 'Roboto', sans-serif;
}

.container {
    margin: auto;
    width: 1200;
}

.main>h1 {
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    margin-top: 64px;
}

.vitri1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.vitri2 {
    box-sizing: border-box;
    width: 208px;
    height: 63px;
    background: #FFFFFF;
    border: 1px solid #D2BDBD;
    border-radius: 10px;
}

.vitri2>button {
    text-align: center;
    font-weight: 700;
    font-size: 32px;
    color: #000000;
}